<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
  <router-outlet></router-outlet>
</div>
<nav class="navbar navbar-expand navbar-dark bg-primary">
  <a class="sidebar-toggle mr-3" href="#"><i class="fas fa-bars"></i></a>
  <a class="navbar-brand" href="#">Functional Planning And Costing</a>

</nav>
<!--
<div class="col-md-4 offset-md-2"> 
  <div class=box>
    <h2>Login here</h2>
  </div>
 <form >

     <div class="form-group">
         <label>Username</label>
         <input type="text" class="form-control" id="username"
          name="username" [(ngModel)]="username">
     </div>
     <div class="form-group">
         <label>Password</label>
         <input type="password" class="form-control" id="password"
          name="password" [(ngModel)]="password">
     </div>
     <button class="btn btn-warning" type="submit"(click)="login()">Submit</button>
     
 </form>

</div>
-->
<!-- LOGIN -->
<section id="login">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <div class="card-header bg-light">
            
            <img class="card-header big-logo" src="../../assets/arnet.jpg" alt="Card image cap">
          </div>
          <div class="card-header">
              <h2>Login</h2>
          </div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username"  >
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" >
              </div>
              <input type="submit" value="Login" name="login" class="btn btn-warning btn-block">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
