<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="close()">&times;</a>
  <a routerLink="home"><i class="fa fa-fw fa-home"></i> About</a>
  <button class="dropdown-btn"><i class="fa fa-fw fa-user"></i>Admin
    <i class="fa fa-caret-down" (click)="down()"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">Role Management</a>
    <a href="#">User Management</a>
  </div>
  <button class="dropdown-btn"><i class="fa fa-cog" aria-hidden="true"></i>Mater Data
    <i class="fa fa-caret-down" (click)="down()"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">Crops</a>
    <a href="#">Locations</a>
    <a href="#">Seasons</a>
    <a href="#">Trial Types</a>
  </div>
  <button class="dropdown-btn"><i class="fa fa-clipboard" aria-hidden="true"></i>Key Data Configuration
    <i class="fa fa-caret-down" (click)="down()"></i>
  </button>
  <div class="dropdown-container">
    <a routerLink="costelements">Cost Elements</a>
    <a href="#">Build Unit Costs</a>
  
  </div>
</div>

<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <span style="font-size:30px;cursor:pointer" (click)="open()">&#9776; Funtional Planning and Costing</span>
 
</nav>
<div class="content container px-4">
    <h3 class="card-title ml-8 mb-2">Unit Costs</h3>    
    <div class="card mb-4">
        <div class="card-body" >
            <!-- This is a blank page you can use as a starting point. -->
            <form action="#" class="was-validated">
                <div class="row mb-3">
                    <div class="col-12 px-1">
                        <h5 class="text-center">Unit Costs</h5>
                        <table class="table table-sm table-bordered table-striped mt-2 ml-1 mr-2" id="tbl_unitcosts">
                            <thead class="thead-dark px-0 text-center">
                                <tr>
                                    <th class="">Sl. No</th>
                                    <th class="w-1">Unit Cost Code</th>
                                    <th class="w-1">Description</th>
                                    <th class="w-1">Crop</th>
                                    <th class="">Location</th>
                                    <th class="w-1">Season</th>
                                    <th class="">Year</th>
                                    <th class="w-1">Trial Type</th>
                                    <th class="w-1">Cost Element</th>
                                    <th class="w-1">C.Elem. Type</th>
                                    <th class="">Unit Cost US$</th>
                                    <th class="w-1">Action</th>
                                </tr>
                            </thead>
                            <tr><td>1</td><td>CR-AME-WN-001</td><td>Short Description</td><td>Corn</td><td>AME</td><td>Winter</td><td>2020</td><td>De-Regulated</td><td>Row Cost</td><td></td><td class="text-right">25</td><td class="text-center"><a href="#" class="btn-sm">Edit</a></td></tr>
                            <tr><td>2</td><td>CP-AME-SR-002</td><td>Short Description</td><td>Corn</td><td>AME</td><td>Summer</td><td>2020</td><td>Regulated</td><td>Plot Cost</td><td></td><td class="text-right">25</td><td class="text-center"><a href="#" class="btn-sm">Edit</a></td></tr>
                            <tr><td>3</td><td>SY-AME-SN-003</td><td>Short Description</td><td>Soybean</td><td>AME</td><td>Winter</td><td>2020</td><td>De-Regulated</td><td>Row Cost</td><td></td><td class="text-right">25</td><td class="text-center"><a href="#" class="btn-sm">Edit</a></td></tr>
                            <tr><td>4</td><td>SY-AME-WR-004</td><td>Short Description</td><td>Soybean</td><td>AME</td><td>Summer</td><td>2020</td><td>Regulated</td><td>Sample Cost</td><td></td><td class="text-right">25</td><td class="text-center"><a href="#" class="btn-sm">Edit</a></td></tr>
                            <tr><td>5</td><td>CR-GRT-WN-005</td><td>Short Description</td><td>Corn</td><td>GRT</td><td>Winter</td><td>2020</td><td>Regulated</td><td>Row Cost</td><td></td><td class="text-right">25</td><td class="text-center"><a href="#" class="btn-sm">Edit</a></td></tr>
                            <tr><td>6</td><td>CR-GRT-SN-006</td><td>Short Description</td><td>Corn</td><td>GRT</td><td>Summer</td><td>2020</td><td>De-Regulated</td><td>Container Cost</td><td></td><td class="text-right">25</td><td class="text-center"><a href="#" class="btn-sm">Edit</a></td></tr>
                            <tr><td>7</td><td>SY-CAR-WN-007</td><td>Short Description</td><td>Soybean</td><td>CAR</td><td>Winter</td><td>2020</td><td>De-Regulated</td><td>Row Cost</td><td></td><td class="text-right">25</td><td class="text-center"><a href="#" class="btn-sm">Edit</a></td></tr>
                            <tr><td>8</td><td>SY-CAR-SN-008</td><td>Short Description</td><td>Soybean</td><td>CAR</td><td>Summer</td><td>2020</td><td>De-Regulated</td><td>Plot Cost</td><td></td><td class="text-right">25</td><td class="text-center"><a href="#" class="btn-sm">Edit</a></td></tr>
                            <tfoot class="">
                                <tr><td colspan="12" class="text-center"><a routerLink="addbuild" type="button" class="btn btn-primary"><i class="fas fa-hand-holding-usd"></i>  Add Cost Element</a></td></tr>                                
                            </tfoot>
                        </table>                            
                    </div>
                </div>
            </form>
            
        </div>        
        <div class="row m-2">
            <div class="col-12 text-center"><a class="btn btn-danger" data-toggle="" href="home.php"><i class='far fa-arrow-alt-circle-left'></i>  Close</a> </div>            
        </div>
    
    </div>

</div>














<div class="footer">
    <p>   Arnetta Technologies Copyright  &copy;</p>
  </div>