<!--
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="close()">&times;</a>
  <a routerLink="home"><i class="fa fa-fw fa-home"></i> About</a>
  <button class="dropdown-btn"><i class="fa fa-fw fa-user"></i>Admin
    <i class="fa fa-caret-down" (click)="down()"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">Role Management</a>
    <a href="#">User Management</a>
  </div>
  <button class="dropdown-btn"><i class="fa fa-cog" aria-hidden="true"></i>Mater Data
    <i class="fa fa-caret-down" (click)="down()"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">Crops</a>
    <a href="#">Locations</a>
    <a href="#">Seasons</a>
    <a href="#">Trial Types</a>
  </div>
  <button class="dropdown-btn"><i class="fa fa-clipboard" aria-hidden="true"></i>Key Data Configuration
    <i class="fa fa-caret-down" (click)="down()"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">Cost Elements</a>
    <a href="#">Build Unit Costs</a>
  
  </div>
</div>

<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <span style="font-size:30px;cursor:pointer" (click)="open()">&#9776; Funtional Planning and Costing</span>
 
</nav>
<div class="footer">
  <p>Arnetta</p>
</div>

-->
<router-outlet></router-outlet>