<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="close()">&times;</a>
  <a routerLink="home"><i class="fa fa-fw fa-home"></i> About</a>
  <button class="dropdown-btn"><i class="fa fa-fw fa-user"></i>Admin
    <i class="fa fa-caret-down" (click)="down()"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">Role Management</a>
    <a href="#">User Management</a>
  </div>
  <button class="dropdown-btn"><i class="fa fa-cog" aria-hidden="true"></i>Mater Data
    <i class="fa fa-caret-down" (click)="down()"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">Crops</a>
    <a href="#">Locations</a>
    <a href="#">Seasons</a>
    <a href="#">Trial Types</a>
  </div>
  <button class="dropdown-btn"><i class="fa fa-clipboard" aria-hidden="true"></i>Key Data Configuration
    <i class="fa fa-caret-down" (click)="down()"></i>
  </button>
  <div class="dropdown-container">
    <a routerLink="costelements">Cost Elements</a>
    <a href="#">Build Unit Costs</a>
  
  </div>
  <button class="dropdown-btn"><i class="fa fa-lightbulb-o" aria-hidden="true"></i>Strategic Agenda Planning
    <i class="fa fa-caret-down" (click)="down()"></i>
  </button>
  <div class="dropdown-container">
    <a routerLink="agenda">Agenda Catalog</a>
  </div>
</div>
<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <span style="font-size:30px;cursor:pointer" (click)="open()">&#9776; Funtional Planning and Costing</span>
</nav>

<!--Agenda Catalog-->

<div class="content px-4">
    <h2 class="mb-4">Agenda Summary</h2>
    <div class="card mb-4">
        <div class="card-body row" >
            <!-- This is a blank page you can use as a starting point. -->
            <div class="card col-4">
                <div class="card-header"><h4 class="mb-2">Agenda Title</h4></div>
                <div class="card-body">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat expedita, labore aliquid laudantium repellat eaque quisquam unde ab delectus et a. Sequi rerum harum in reprehenderit, eius tempora commodi placeat?</div>
                <div class="card-footer"><button type="button" class="btn btn-link mx-2">View Details</button></div>
            </div>
            <div class="card col-4">
                <div class="card-header"><h4 class="mb-2">Agenda Title</h4></div>
                <div class="card-body">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat expedita, labore aliquid laudantium repellat eaque quisquam unde ab delectus et a. Sequi rerum harum in reprehenderit, eius tempora commodi placeat?</div>
                <div class="card-footer"><button type="button" class="btn btn-link mx-2">View Details</button></div>
            </div>
            <div class="card col-4">
                <div class="card-header"><h4 class="mb-2">Agenda Title</h4></div>
                <div class="card-body">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat expedita, labore aliquid laudantium repellat eaque quisquam unde ab delectus et a. Sequi rerum harum in reprehenderit, eius tempora commodi placeat?</div>
                <div class="card-footer"><button type="button" class="btn btn-link mx-2">View Details</button></div>
            </div>
        </div>
    
        <div class="row" >
            <div class="col-2 text-center mb-3"><button type="button" class="btn btn-warning mx-2"><i class="fa fa-arrow-left" aria-hidden="true"></i> PREV</button></div>
            <div class="col-8 text-center mb-3"><button type="button" class="btn btn-primary mx-2"  (click)="openLg(content)">Create New Agenda</button></div>
            <div class="col-2 text-center mb-3"><button type="button" class="btn btn-warning mx-2">NEXT <i class="fa fa-arrow-right" aria-hidden="true"></i></button></div>

        </div>
    
        <ng-template #content let-modal>
            <div class="modal-header">
              <h4 class="modal-title">Add New Agenda</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
            <form>
                <div class="row mb-3">
                    <div class="col-md-2 text-right">
                        <label for="crop_code" class="mr-0 mt-2">Crop</label>                    
                    </div>
                    <div class="col-md-4">
                        <select class="selectpicker form-control"  id="crop_code" title="Crop" required >
                            <option value="CR">Corn</option>
                            <option value="SY">Soybean</option>
                            <option value="PT">Potato</option>
                            <option value="ON">Onion</option>
                        </select>
                        <div class="valid-feedback"></div>
                        <div class="invalid-feedback">Please Select a Crop</div>
                    </div>
                    <div class="col-md-2 text-right">
                        <label for="crop_code" class="mr-0 mt-2">Season</label>                    
                    </div>
                    <div class="col-md-4">
                        <select class="selectpicker form-control"   title="season" required >
                            <option value="su">Summer</option>
                            <option value="win">Winter</option>
                            <option value="ra">Rainy</option>
                            <option value="sp">Spring</option>
                        </select>
                        <div class="valid-feedback"></div>
                        <div class="invalid-feedback">Please Select a Season</div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2 text-right">
                        <label for="year" class="mr-0 mt-2">Period From</label>                    
                    </div>
                    <div class="col-md-3">
                        <input type="date" class="form-control" name="fromdate"id="fromdate"  required>
                    </div>
                    <div class="col-md-2 offset-1 text-right">
                        <label for="year" class="mr-0 mt-2">Period To</label>                    
                    </div>
                    <div class="col-md-3">
                        <input type="date" class="form-control" name="todate"id="todate"  required>
                    </div>
                    
                </div>
                <div class="row mb-3">
                    <div class="col-md-2 text-right">
                        <label for="year" class="mr-0 mt-2">Description</label>                    
                    </div>
                    <div class="col-md-10">
                        <textarea type="text" class="form-control" rows="4" name="description"id="description" required></textarea>
                    </div>
                    <div class="valid-feedback"></div>
                    <div class="invalid-feedback">Please Enter Description</div>
                </div>
              
            </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-warning"routerLink="edit_agenda"><i class="fa fa-plus"></i> Create & Continue</button>
              <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
            </div>
          </ng-template>
          
          
</div>
</div>
