
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="close()">&times;</a>
  <a routerLink="home"><i class="fa fa-fw fa-home"></i> About</a>
  <button class="dropdown-btn"><i class="fa fa-fw fa-user"></i>Admin
    <i class="fa fa-caret-down" (click)="down()"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">Role Management</a>
    <a href="#">User Management</a>
  </div>
  <button class="dropdown-btn"><i class="fa fa-cog" aria-hidden="true"></i>Mater Data
    <i class="fa fa-caret-down" (click)="down()"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">Crops</a>
    <a href="#">Locations</a>
    <a href="#">Seasons</a>
    <a href="#">Trial Types</a>
  </div>
  <button class="dropdown-btn"><i class="fa fa-clipboard" aria-hidden="true"></i>Key Data Configuration
    <i class="fa fa-caret-down" (click)="down()"></i>
  </button>
  <div class="dropdown-container">
    <a routerLink="costelements">Cost Elements</a>
    <a routerLink="buildelements">Build Unit Costs</a>
  
  </div>
  <button class="dropdown-btn"><i class="fa fa-lightbulb-o" aria-hidden="true"></i>Strategic Agenda Planning
    <i class="fa fa-caret-down" (click)="down()"></i>
  </button>
  <div class="dropdown-container">
    <a routerLink="agenda">Agenda Catalog</a>
  </div>
</div>

<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <span style="font-size:30px;cursor:pointer" (click)="open()">&#9776; Funtional Planning and Costing</span>
 
</nav>
<div class="footer">
  <p>   Arnetta Technologies Copyright  &copy;</p>
</div>


<router-outlet></router-outlet>
<div class="content p-0">
    <div class="card mb-4">
        <div class="container">        
            <h3 class="card-title ml-8 mb-2">Agenda-AGCRS20211001</h3>
            <div class="card-body" >
                <!-- Header & tab panels information  -->
                <div class="row mb-3" id="div_header&tabpanel">
                    <!-- header Information -->
                    <div class="col-md-12" id="div_headerinfo">
                        <form action="" class="was-validated divborder">
                            <!--1st Row for crop, season, year range -->
                            <div class="row my-1 mx-0 form-group">
                                <!-- Crop -->
                                <div class="col px-1 text-right divborder">
                                    <label class="mt-2">Crop</label>                    
                                </div>
                                <div class="col-2 px-0 divborder">
                                    <select class="selectpicker form-control" id="crop_code" title="Crop" required >
                                        <option value="CR">Corn</option>
                                        <option value="SY">Soybean</option>
                                        <option value="PT">Potato</option>
                                        <option value="ON">Onion</option>
                                    </select>
                                    <div class="valid-feedback"></div>
                                    <div class="invalid-feedback">Please Select a Crop</div>
                                </div>
                                <!-- season -->
                                <div class="col px-1 text-right divborder">
                                    <label class="mt-2">Season</label>                    
                                </div>
                                <div class="col-2 px-0 divborder">
                                    <select class="selectpicker form-control" title="season" required >
                                        <option value="su">Summer</option>
                                        <option value="win">Winter</option>
                                        <option value="rain">Rainy</option>
                                        <option value="aut">Autumn</option>
                                    </select>
                                    
                                </div>
                               
                                <!-- From Date -->
                                <div class="col px-1 text-right divborder">
                                    <label class="mt-2">From</label>                    
                                </div>
                                <div class="col-2 px-0 divborder">
                                    <input type="date" class="form-control" name="fromdate" id="fromdate"  required>
                                    <div class="valid-feedback"></div>
                                    <div class="invalid-feedback">Enter From Date</div>
                                </div>

                                <!-- To Date -->
                                <div class="col px-1 text-right divborder">
                                    <label class="mt-2">To</label>                    
                                </div>
                                <div class="col-2 px-0 divborder">
                                    <input type="date" class="form-control" name="todate"id="todate"  required>
                                    <div class="valid-feedback"></div>
                                    <div class="invalid-feedback">Enter To Date</div>
                                </div>
                            </div>
                            <!-- end of row 1-->
                            <!--2nd Row for description -->
                            <div class="row my-1 mx-0 form-group">
                                <div class="col px-1 text-right divborder">
                                    <label class="mt-2">Description</label>                    
                                </div>
                                <div class="col-11 px-0 divborder">                                    
                                    <textarea id="description"class="form-control" rows="2" >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto, quisquam esse suscipit fugiat quam dolorum perferendis, necessitatibus asperiores debitis animi, optio illum odit tenetur at dolore. Quisquam laborum dignissimos ipsum.                                    
                                    </textarea>
                                </div>
                            </div>
                            <!-- end of row 2 -->
                            <!-- row 3 -->                        
                            <div class="row my-1 mx-0 form-group">
                                <div class="col px-0 text-right divborder">
                                    <button type="submit" class="btn btn-warning"><i class="fa fa-save"></i> Update Agenda</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>                            
                            </div>
                            <!-- end of row 3 -->

                        </form>
                    <!-- div_headerinfo -->              
                    </div>
                <!-- div_header&tabpanel -->
                </div> 
                <!-- Header information  -->                            
                <!-- Tab Panels information  -->                                            
                            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#maintab">Agenda Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab-panel5">Budget</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab-panel2">Market</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab-panel3">Competition</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab-panel4">People</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab-panel6"></a>
                </li> -->
            </ul>
            <!-- end of nav tab panel definition  -->
            <!-- ********************************************************************************************** -->
            <!-- individual tab panel definition -->
            <div class="tab-content">
                <div id="maintab" class="container tab-pane active header-bg"><br>
                    <form action="#" class="was-validated">
                        <div class="row mb-3">
                            <!-- product segment -->
                            <div class="col-2 divborder"><label for="prodsegment" class="float-right mt-2">Product Segment</label></div>
                            <div class="col-2 px-0 divborder">
                                <select class="selectpicker form-control"  required >
                                    <option value="pr">Product Segment 1</option>
                                    <option value="pr">Product Segment 2</option>
                                    <option value="pr">Product Segment 3</option>
                                    <option value="pr">Product Segment 4</option>
                                </select>
                                <div class="valid-feedback"></div>
                                <div class="invalid-feedback">Please Select a Crop</div>
                            </div>
                            <!--  -->
                            <!-- <div class="col-2 divborder"><label for="prodsegment" class="float-right mt-2">B</label></div> -->
                        </div>
                        <div class="row mb-3">
                            <div class="col-6 px-1 text-center divborder">
                                <h5>Passport Information</h5>
                                <table class="table table-sm table-bordered table-striped mt-2 ml-1 mr-2" id="tbl_passport">
                                    <thead class="thead-dark px-0">
                                        <tr>
                                            <th>Sl. No</th>
                                            <th>Item</th>
                                            <th>Refernce Value</th>
                                            <th>Select</th>
                                        </tr>
                                    </thead>
                                    <tr><td>1</td><td></td><td></td><td></td></tr>
                                    <tr><td>2</td><td></td><td></td><td></td></tr>
                                    <tr><td>3</td><td></td><td></td><td></td></tr>
                                    <tr><td>4</td><td></td><td></td><td></td></tr>
                                    <tr><td>5</td><td></td><td></td><td></td></tr>
                                    <tr><td>6</td><td></td><td></td><td></td></tr>
                                        <!-- <tfoot class=""><a href="#" type="button" class="btn btn-primary float-right" data-toggle="modal" data-backdrop="static" data-target="#addOrderDetailsItem"><i class="fas fa-seedling"></i>  Add Order Item</a></tfoot> -->
                                    </table>                            

                            </div>    
                            <div class="col-6 px-2 text-center divborder">
                                <h5>Key Traits</h5>
                                <table class="table table-sm table-bordered table-striped mt-2 ml-1 mr-2" id="tbl_keytraits">
                                        <thead class="thead-dark px-0">
                                            <tr>
                                                <th>Sl. No</th>
                                                <th>Trait Name</th>
                                                <th>Trait Code</th>
                                                <th>Refernce Value</th>
                                                <th>Select</th>
                                            </tr>
                                        </thead>
                                        <tr><td>1</td><td></td><td></td><td></td><td></td></tr>
                                        <tr><td>2</td><td></td><td></td><td></td><td></td></tr>
                                        <tr><td>3</td><td></td><td></td><td></td><td></td></tr>
                                        <tr><td>4</td><td></td><td></td><td></td><td></td></tr>
                                        <tr><td>5</td><td></td><td></td><td></td><td></td></tr>
                                        <tr><td>6</td><td></td><td></td><td></td><td></td></tr>
                                        <!-- <tfoot class=""><a href="#" type="button" class="btn btn-primary float-right" data-toggle="modal" data-backdrop="static" data-target="#addOrderDetailsItem"><i class="fas fa-seedling"></i>  Add Order Item</a></tfoot> -->
                                    </table>                            
                            </div>
                        </div>
                    </form>

                </div>
                <!-- Market Tab -->
                <div id="tab-panel2" class="container tab-pane fade header-bg"><br>
                    <div class="row mb-3">
                        <div class="col-6 px-1 text-center divborder">
                            <h5>Current Regions/Markets</h5>
                            <table class="table table-sm table-bordered table-striped mt-2 ml-1 mr-2" id="tbl_curmkt">
                                <thead class="thead-dark px-0">
                                    <tr>
                                        <th>Sl. No</th>
                                        <th>Product</th>
                                        <th>Region</th>
                                        <th>Size (Kgs)</th>
                                        <th>Amount $</th>
                                        <th>Market %</th>
                                    </tr>
                                </thead>
                                <tr><td>1</td><td></td><td></td><td></td><td></td><td></td></tr>
                                <tr><td>2</td><td></td><td></td><td></td><td></td><td></td></tr>
                                <tr><td>3</td><td></td><td></td><td></td><td></td><td></td></tr>
                                <tr><td>4</td><td></td><td></td><td></td><td></td><td></td></tr>
                                <tr><td>5</td><td></td><td></td><td></td><td></td><td></td></tr>
                                <tr><td>6</td><td></td><td></td><td></td><td></td><td></td></tr>
                                <tfoot class=""><tr><td colspan="6"><a href="#" type="button" class="btn btn-primary" data-toggle="modal" data-backdrop="static" data-target="#dlg_addCurMktItem"><i class="fas fa-seedling"></i>  Add Item</a></td></tr></tfoot>
                            </table>                            
                        </div>
                        <div class="col-6 px-1 text-center divborder">
                            <h5>Planned Regions/Markets</h5>
                            <table class="table table-sm table-bordered table-striped mt-2 ml-1 mr-2" id="tbl_plannedmkt">
                                <thead class="thead-dark px-0">
                                    <tr>
                                        <th>Sl. No</th>
                                        <th>Product</th>
                                        <th>Region</th>
                                        <th>Size (Kgs)</th>
                                        <th>Amount $</th>
                                        <th>Market %</th>
                                    </tr>
                                </thead>
                                <tr><td>1</td><td></td><td></td><td></td><td></td><td></td></tr>
                                <tr><td>2</td><td></td><td></td><td></td><td></td><td></td></tr>
                                <tr><td>3</td><td></td><td></td><td></td><td></td><td></td></tr>
                                <tr><td>4</td><td></td><td></td><td></td><td></td><td></td></tr>
                                <tr><td>5</td><td></td><td></td><td></td><td></td><td></td></tr>
                                <tr><td>6</td><td></td><td></td><td></td><td></td><td></td></tr>
                                <tfoot class=""><tr><td colspan="6"><a href="#" type="button" class="btn btn-primary" data-toggle="modal" data-backdrop="static" data-target="#dlg_addPlanMktItem"><i class="fas fa-seedling"></i>  Add Item</a></td></tr></tfoot>
                            </table>                            
                        </div>
                    </div>
                </div>

                <!-- Competition Tab  -->
                <div id="tab-panel3" class="container tab-pane fade header-bg">
                    <div class="row mb-3">
                        <div class="col-6 px-1 text-center divborder">
                            <h5>Competition Data</h5>
                            <table class="table table-sm table-bordered table-striped mt-2 ml-1 mr-2" id="tbl_competition">
                                <thead class="thead-dark px-0">
                                    <tr>
                                        <th>Sl. No</th>
                                        <th>Product</th>
                                        <th>Region</th>
                                        <th>Main Competitor</th>
                                        <th>Amount $</th>
                                        <th>Market %</th>
                                    </tr>
                                </thead>
                                <tr><td>1</td><td></td><td></td><td></td><td></td><td></td></tr>
                                <tr><td>2</td><td></td><td></td><td></td><td></td><td></td></tr>
                                <tr><td>3</td><td></td><td></td><td></td><td></td><td></td></tr>
                                <tr><td>4</td><td></td><td></td><td></td><td></td><td></td></tr>
                                <tr><td>5</td><td></td><td></td><td></td><td></td><td></td></tr>
                                <tr><td>6</td><td></td><td></td><td></td><td></td><td></td></tr>
                                <tfoot class=""><tr><td colspan="6"><a href="#" type="button" class="btn btn-primary" data-toggle="modal" data-backdrop="static" data-target="#dlg_addCurMktItem"><i class="fas fa-seedling"></i>  Add Item</a></td></tr></tfoot>
                            </table>                            
                        </div>

                    </div>

                
                </div>
                <!-- People Tab  -->
                <div id="tab-panel4" class="container tab-pane fade header-bg"><br>
                    <!-- 1st Row -->
                    <div class="row mb-3">
                        <div class="col-2 px-1 text-center divborder">
                            <label class="mt-2">Overall Program Incharge</label>
                        </div>    
                        <div class="col-2 px-0 divborder">
                            <select class="selectpicker form-control" data-live-search="true" id="person_inchrg" title="Person Incharge" required >
                                <option value="pid_02">Brian Austin</option>
                                <option value="pid_08">Fred Perry</option>
                                <option value="pid_09">Lisa Perkins</option>
                                <option value="pid_04">Louise Parker</option>
                                <option value="pid_01">Mary Elizabeth</option>
                                <option value="pid_05">Nancy Davies</option>
                                <option value="pid_06">Roger Taylor</option>
                                <option value="pid_07">Steve Campbell</option>
                                <option value="pid_03">Steve Rogers</option>
                            </select>
                            <div class="valid-feedback"></div>
                            <div class="invalid-feedback">Please Select Person Incharge</div>
                        </div>
                    </div>            
                    <!-- 1st Row -->
                    <!-- 2nd Row -->
                    <div class="row mb-3">
                        <div class="col-6 px-1 text-center divborder">
                            <h5>Other Team Members</h5>
                            <table class="table table-sm table-bordered table-striped mt-2 ml-1 mr-2" id="tbl_people">
                                <thead class="thead-dark px-0">
                                    <tr>
                                        <th>Sl. No</th>
                                        <th>Full Name</th>
                                        <th>Unit / Division</th>
                                        <th>Role</th>
                                        <th>Phone/Email</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tr><td>1</td><td></td><td></td><td></td><td></td><td></td></tr>
                                <tr><td>2</td><td></td><td></td><td></td><td></td><td></td></tr>
                                <tr><td>3</td><td></td><td></td><td></td><td></td><td></td></tr>
                                <tr><td>4</td><td></td><td></td><td></td><td></td><td></td></tr>
                                <tr><td>5</td><td></td><td></td><td></td><td></td><td></td></tr>
                                <tr><td>6</td><td></td><td></td><td></td><td></td><td></td></tr>
                                <tfoot class=""><tr><td colspan="6"><a href="#" type="button" class="btn btn-primary" data-toggle="modal" data-backdrop="static" data-target="#dlg_addCurMktItem"><i class="fas fa-seedling"></i>  Add Item</a></td></tr></tfoot>
                            </table>                            
                        </div>            
                    </div>            
                    <!-- 2nd Row -->

                </div>
                <!-- Other Info Tab  -->
                <div id="tab-panel5" class="container tab-pane fade header-bg">
                    <div class="row row-cols-6 mb-2 mt-2 border-dark">
                        <div class="col">
                            <label class="mt-2 float-right">Overall Budget</label>                    
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Budget $"  id="overallbudget">                            
                        </div>
                    </div>            
                    <div class="row mb-2 mt-2">                                          
                        <div class="col-6 px-1">
                            <h5 class="text-center">Budgets At Individual Levels</h5>
                            <table class="table table-sm table-bordered table-striped mt-2 ml-1 mr-2" id="tbl_budgetlevels">
                                <thead class="thead-dark px-0 text-center">
                                    <tr>
                                        <th class="w-1">Sl. No</th>
                                        <th class="w-4">Budget Item</th>
                                        <th class="w-3">Amount</th>
                                        <th class="w-2">Action</th>
                                    </tr>
                                </thead>
                                <tr><td>1</td><td>Line Development</td><td class="text-right">1,000,000</td><td></td></tr>
                                <tr><td>2</td><td>Hybrid Trials</td><td class="text-right">500,000</td><td></td></tr>
                                <tr><td>3</td><td>Yield Trials</td><td class="text-right">500,000</td><td></td></tr>
                                <tr><td>4</td><td>3rd Party Trials</td><td class="text-right">250,000</td><td></td></tr>
                                <tr><td>5</td><td>Phenotyping Trials</td><td class="text-right">1,000,000</td><td></td></tr>
                                <tr><td>6</td><td>Regulated Trials</td><td class="text-right">1,000,000<td></td></tr>
                                <tfoot class="">
                                    <tr>
                                        <td colspan="2" class="text-right"><dt>Grand Total</dt></td>
                                        <td class="text-right"><dt>4,250,000</dt></td>
                                        <td class="text-center"><a href="#" type="button" class="btn btn-primary" data-toggle="modal" data-backdrop="static" data-target="#dlg_addBudgetItem"><i class="fas fa-hand-holding-usd"></i>  Add Budget Item</a></td>
                                    </tr>                                
                                </tfoot>
                            </table>                            
                        </div>
                    </div>            
                </div>

            </div>    

            
            <!-- individual tab panel definition -->

                <!-- Tab Panels information  -->                                                            
            </div>
        </div>    
    </div>
</div>

