<link href="https://cdn.jsdelivr.net/npm/smartwizard@5/dist/css/smart_wizard_all.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.jsdelivr.net/npm/smartwizard@5/dist/js/jquery.smartWizard.min.js" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/smartwizard@5/dist/js/jquery.smartWizard.min.js" type="text/javascript"></script>
<link href="https://cdn.jsdelivr.net/npm/smartwizard@5/dist/css/smart_wizard_all.min.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="close()">&times;</a>
  <a routerLink="home"><i class="fa fa-fw fa-home"></i> About</a>
  <button class="dropdown-btn"><i class="fa fa-fw fa-user"></i>Admin
    <i class="fa fa-caret-down" (click)="down()"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">Role Management</a>
    <a href="#">User Management</a>
  </div>
  <button class="dropdown-btn"><i class="fa fa-cog" aria-hidden="true"></i>Mater Data
    <i class="fa fa-caret-down" (click)="down()"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">Crops</a>
    <a href="#">Locations</a>
    <a href="#">Seasons</a>
    <a href="#">Trial Types</a>
  </div>
  <button class="dropdown-btn"><i class="fa fa-clipboard" aria-hidden="true"></i>Key Data Configuration
    <i class="fa fa-caret-down" (click)="down()"></i>
  </button>
  <div class="dropdown-container">
    <a routerLink="costelements">Cost Elements</a>
    <a href="#">Build Unit Costs</a>
  
  </div>
</div>

<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <span style="font-size:30px;cursor:pointer" (click)="open()">&#9776; Funtional Planning and Costing</span>
 
</nav>

<div class="content container px-4">
  <h3 class="card-title ml-8 mb-2">Add / Edit Unit Costs</h3>  
<ng-wizard [config]="config" (stepChanged)="stepChanged($event)">
  
  <ng-wizard-step [title]="'Step 1 '" [description]="'Select crop,Season,Location'"
    [canEnter]="isValidTypeBoolean" [canExit]="isValidFunctionReturnsBoolean.bind(this)">
    <div>
      <h5 class="mt-3 mb-3">Select Crop, Season, Location & Year</h5>
      <div class="row mt-2">
          <!-- Crop  -->
          <div class="col-md-1 text-right">
              <label for="crop_code" class="mr-0 mt-2">Crop</label>                    
          </div>
          <div class="col-md-2">
              <select class="selectpicker form-control"  id="crop_code" title="Crop" required >
                  <option value="CR">Corn</option>
                  <option value="SY">Soybean</option>
                  <option value="PT">Potato</option>
                  <option value="ON">Onion</option>
              </select>
              <div class="valid-feedback"></div>
              <div class="invalid-feedback">Please Select a Crop</div>
          </div>
           <!-- Season -->
           <div class="col-md-1 text-right">
            <label for="season" class="mr-0 mt-2">Season</label>                    
        </div>
        <div class="col-md-2">
            <select class="selectpicker form-control" id="season" data-live-search="false" title="Season" required >
                <option value="S">Summer</option>
                <option value="W">Winter</option>
                <option value="A">Autumn</option>
                <option value="P">Spring</option>
            </select>
            <div class="valid-feedback"></div>
            <div class="invalid-feedback">Please Select a Season</div>
        </div>
        <!-- Location -->
        <div class="col-md-1 text-right">
          <label for="location" class="mr-0 mt-2">Location</label>                    
      </div>
      <div class="col-md-2">
          <select class="selectpicker form-control" id="location" data-live-search="true" title="Location" required >
              <option value="AME">Ames</option>
              <option value="BEN">Benson</option>
              <option value="BRO">Brookings</option>
              <option value="BUF">Buffalo</option>
              <option value="CAR">Carroll</option>
              <option value="CAS">Casselton</option>
              <option value="CEN">Centralia</option>
              <option value="CHA">Champaign</option>
              <option value="CHC">Charles City</option>
              <option value="FIN">Findley</option>
              <option value="FOW">Fowler</option>
              <option value="FTW">Fort Wayne</option>
              <option value="GAL">Galesburg</option>
              <option value="GAR">Garnett</option>
              <option value="GLY">Glyndon</option>
          </select>
          <div class="valid-feedback"></div>
          <div class="invalid-feedback">Please Select a Location</div>
      </div>
      <!--Year  -->
      <div class="col-md-1 text-right">
          <label for="yearpicker" class="mr-0 mt-2">Year</label>                    
      </div>
      <div class="col-md-2 datepicker-section">
         <input type="week"  class="form-control" placeholder="Select Year" />
          <!--<input type="week" id="week" name="week" placeholder="Select Year">-->
          <div class="valid-feedback"></div>
          <div class="invalid-feedback">Please Select a Year</div>
      </div>
          </div>
          </div>
  </ng-wizard-step>
  
  <ng-wizard-step [title]="'Step 2'" [description]="'Select Cost Elements and Types'" >
    <div id="step-2" class="">
      <h5 class="mt-3 mb-3">Select Cost Elements & Types</h5>
      <div class="row mt-2">
          <div class="col-md-2 text-right">
              <label for="cost_element" class="mr-0 mt-2">Cost Element</label>                    
          </div>
          <div class="col-md-2">
              <select class="selectpicker form-control"  id="crop_code" title="Cost Element" required >
                  <option value="Row">Rows</option>
                  <option value="Plot">Plots</option>
                  <option value="Sample">Samples</option>
                  <option value="Containers">Pots/Containers</option>
              </select>
              <div class="valid-feedback"></div>
              <div class="invalid-feedback">Please Select a Cost Element</div>
          </div>
          <div class="col-md-6">
              <table class="table table-sm table-bordered table-striped mt-2 ml-1 mr-2" id="tbl_costElementTypes">
                  <thead class="thead-dark px-0 text-center">
                      <tr>
                          <th class="w-1">Sl. No</th>
                          <th class="w-2">Cost Element Type</th>
                          <th class="w-2">Description</th>
                          <th class="w-1">Select</th>
                      </tr>
                  </thead>
                  <tr><td>1</td><td>NUR</td><td>Nursery</td><td class="text-center"><input type="checkbox" name="" id=""></td></tr>
                  <tr><td>2</td><td>YLD</td><td>Yield Trial</td><td class="text-center"><input type="checkbox" name="" id=""></td></tr>
                  <tr><td>3</td><td>SDI</td><td>Seed Increase</td><td class="text-center"><input type="checkbox" name="" id=""></td></tr>
                  <tr><td>4</td><td>TRP</td><td>Trait Phenotyping</td><td class="text-center"><input type="checkbox" name="" id=""></td></tr>
                  <tr><td>5</td><td>PLP</td><td>Plant Phenotyping</td><td class="text-center"><input type="checkbox" name="" id=""></td></tr>
                                              
              </table>                            

          </div>

      </div>
  </div>
  </ng-wizard-step>
  
  <ng-wizard-step [title]="'Step 3'" [description]="'Provide Unit Costs'"
    [canEnter]="isValidFunctionReturnsObservable.bind(this)" [canExit]="isValidFunctionReturnsBoolean.bind(this)">
    <div id="step-3" class="">
      <h5 class="mt-3 mb-3">Enter Unit Costs</h5>
      <div class="row mt-2">
      </div>
  </div>
  </ng-wizard-step>
 
<ng-wizard-step [title]="'Step 4'" [description]="'Review and Submit'">
  <div id="step-4" class="">
    <h5 class="mt-3 mb-3">Review & Save</h5>
    <div class="row mt-2">
    </div>
</div>
  </ng-wizard-step>
 
 
  
  
</ng-wizard>
</div>
<div class="footer">
    <p>   Arnetta Technologies Copyright  &copy;</p>
  </div>