<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="close()">&times;</a>
  <a routerLink="home"><i class="fa fa-fw fa-home"></i> About</a>
  <button class="dropdown-btn"><i class="fa fa-fw fa-user"></i>Admin
    <i class="fa fa-caret-down" (click)="down()"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">Role Management</a>
    <a href="#">User Management</a>
  </div>
  <button class="dropdown-btn"><i class="fa fa-cog" aria-hidden="true"></i>Mater Data
    <i class="fa fa-caret-down" (click)="down()"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">Crops</a>
    <a href="#">Locations</a>
    <a href="#">Seasons</a>
    <a href="#">Trial Types</a>
  </div>
  <button class="dropdown-btn"><i class="fa fa-clipboard" aria-hidden="true"></i>Key Data Configuration
    <i class="fa fa-caret-down" (click)="down()"></i>
  </button>
  <div class="dropdown-container">
    <a routerLink="costelements">Cost Elements</a>
    <a href="#">Build Unit Costs</a>
  
  </div>
</div>

<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <span style="font-size:30px;cursor:pointer" (click)="open()">&#9776; Funtional Planning and Costing</span>
 
</nav>

<div class="content container px-4">
    <h3 class="card-title ml-8 mb-2">Cost Elements & Cost Element Types</h3>    
    <div class="card mb-4">       
        <div class="card-body pb-0" >
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#tab_costelems">Cost Elements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab_costelemtypes">Cost Element Types</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab_unitcosts">Build Unit Costs</a>
                </li>
                <li class="nav-item">
                </li> -->

            </ul>
            <!-- end of nav tab panel definition  -->
            <!-- ********************************************************************************************** -->            
        </div>

        <!-- Main Tab Panel  -->
        <div class="tab-content">
            <!-- Cost Element Types -->
            <div id="tab_costelemtypes" class="container tab-pane fade header-bg">
                <form action="#" class="was-validated">
                    <div class="row mb-3">
                        <div class="col-8 px-1 divborder">
                            <h5 class="text-center">Project Cost Element Types</h5>
                            <table class="table table-sm table-bordered table-striped mt-2 ml-1 mr-2" id="tbl_costelemtypes">
                                <thead class="thead-dark px-0 text-center">
                                    <tr>
                                        <th>Sl. No</th>
                                        <th>Code</th>
                                        <th>Cost Element Type</th>
                                        <th class="w-3">Description</th>
                                        <th colspan="2">Action</th>
                                    </tr>
                                </thead>
                                <tr><td>1</td><td>NUR</td><td>Nursery</td><td>Lorem ipsum dolor sit amet consectetur</td><td>Edit</td><td>Delete</td></tr>
                                <tr><td>2</td><td>YLD</td><td>Yield Trial</td><td>Lorem ipsum dolor sit amet consectetur</td><td>Edit</td><td>Delete</td></tr>
                                <tr><td>3</td><td>SDI</td><td>Seed Increase</td><td>Lorem ipsum dolor sit amet consectetur</td><td>Edit</td><td>Delete</td></tr>
                                <tr><td>4</td><td>TRP</td><td>Trait Phenotyping</td><td>Lorem ipsum dolor sit amet consectetur</td><td>Edit</td><td>Delete</td></tr>
                                <tr><td>5</td><td>PLP</td><td>Plant Phenotyping</td><td>Lorem ipsum dolor sit amet consectetur</td><td>Edit</td><td>Delete</td></tr>
                                <tr><td>6</td><td>SDP</td><td>Seed Phenotyping</td><td>Lorem ipsum dolor sit amet consectetur</td><td>Edit</td><td>Delete</td></tr>
                                <tr><td>7</td><td>SRW</td><td>Short Rows</td><td>Lorem ipsum dolor sit amet consectetur</td><td>Edit</td><td>Delete</td></tr>
                                <tr><td>8</td><td>TPT</td><td>3rd Party</td><td>Lorem ipsum dolor sit amet consectetur</td><td>Edit</td><td>Delete</td></tr>
                                <tfoot class="">
                                    <tr>
                                        <td colspan="10"class="text-center"><a href="#" type="button" class="btn btn-primary" data-toggle="modal" data-backdrop="static" data-target="#dlg_addCostElemType"><i class="fas fa-money-check-alt"></i> Add Cost Element Type</a></td>
                                    </tr>                                
                                </tfoot>
                            </table>                            
                        <!-- div costelemtype -->
                        </div>    
                    <!-- Row -->
                    </div> 
                </form>
            </div>
            <!-- end of cost element type tab  -->
            <!-- start of cost element tab  -->
            <div id="tab_costelems" class="container tab-pane active header-bg">
                <form action="#" class="was-validated">
                    <div class="row mb-3">
                        <div class="col-6 px-1">
                            <!-- <h5 class="text-center">Cost Elements</h5> -->
                            <table class="table table-sm table-bordered table-striped mt-2 ml-1 mr-2" id="tbl_costelems">
                                <thead class="thead-dark px-0 text-center">
                                    <tr>
                                        <th class="w-1">Sl. No</th>
                                        <th class="w-1">Cost Element</th>
                                        <th class="">Description</th>
                                        <th class="w-1">Action</th>
                                    </tr>
                                </thead>
                                <tr><td>1</td><td>Row Cost</td><td>Line Development(Nurseries) / Yield Trials</td><td class="text-center"><a href="#" class="btn-sm">Edit</a></td></tr>
                                <tr><td>2</td><td>Plot Cost</td><td>3rd Party Yield Trials / Seed Increase Trials</td><td class="text-center"><a href="#" class="btn-sm">Edit</a></td></tr>
                                <tr><td>3</td><td>Samples Cost</td><td>Laboratory Trials</td><td class="text-center"><a href="#" class="btn-sm">Edit</a></td></tr>
                                <tr><td>4</td><td>Containers(Pots)</td><td>Greenhouse Trials</td><td class="text-center"><a href="#" class="btn-sm">Edit</a></td></tr>
                                <!-- <tfoot class="">
                                    <tr><td colspan="4" class="text-center"><a href="#" type="button" class="btn btn-primary" data-toggle="modal" data-backdrop="static" data-target="#dlg_addCostElem"><i class="fas fa-hand-holding-usd"></i>  Add Cost Element</a></td></tr>                                
                                </tfoot> -->
                            </table>                            
                        </div>
                    </div>
                </form>
            
            </div>
            <!-- end of cost element tab  -->
            <!-- Start of build unit cost tab  -->
            <div id="tab_unitcosts" class="container tab-pane fade header-bg">
            
            </div>
            
            <!-- End of build unit cost tab  -->
        </div>
        <div class="row m-2">
            <div class="col-12 text-center"><a class="btn btn-danger" data-toggle="" href="home.php"><i class='far fa-arrow-alt-circle-left'></i>  Close</a> </div>
            
        </div>
    </div>
</div>


        <div class="footer">
            <p>Arnetta</p>
          </div>