<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="close()">&times;</a>
  <a routerLink="home"><i class="fa fa-fw fa-home"></i> About</a>
  <button class="dropdown-btn"><i class="fa fa-fw fa-user"></i>Admin
    <i class="fa fa-caret-down" (click)="down()"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">Role Management</a>
    <a href="#">User Management</a>
  </div>
  <button class="dropdown-btn"><i class="fa fa-cog" aria-hidden="true"></i>Mater Data
    <i class="fa fa-caret-down" (click)="down()"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">Crops</a>
    <a href="#">Locations</a>
    <a href="#">Seasons</a>
    <a href="#">Trial Types</a>
  </div>
  <button class="dropdown-btn"><i class="fa fa-clipboard" aria-hidden="true"></i>Key Data Configuration
    <i class="fa fa-caret-down" (click)="down()"></i>
  </button>
  <div class="dropdown-container">
    <a routerLink="costelements">Cost Elements</a>
    <a routerLink="buildelements">Build Unit Costs</a>
  
  </div>
  <button class="dropdown-btn"><i class="fa fa-lightbulb-o" aria-hidden="true"></i>Strategic Agenda Planning
    <i class="fa fa-caret-down" (click)="down()"></i>
  </button>
  <div class="dropdown-container">
    <a routerLink="agenda">Agenda Catalog</a>
  </div>
  <button class="dropdown-btn"><i class="fa fa-cogs" aria-hidden="true"></i>Demand Planning
    <i class="fa fa-caret-down" (click)="down()"></i>
  </button>
  <div class="dropdown-container">
    <a >Project Costing and Budgeting</a>
    <a >Plan Approvals</a>
    <a >Link Projects and Trials</a>
  </div>
 
  <button class="dropdown-btn"><i class="fa fa-cogs" aria-hidden="true"></i>Project Tracking
    <i class="fa fa-caret-down" (click)="down()"></i>
  </button>
  <div class="dropdown-container">
    <a >Current Projects and Catalog</a>
    <a >Item 2</a>
    <a >Item 3</a>
  </div>
  <button class="dropdown-btn"><i class="fa fa-line-chart" aria-hidden="true"></i>Reports
    <i class="fa fa-caret-down" (click)="down()"></i>
  </button>
  <div class="dropdown-container">
    <a >Reports 1</a>
    <a >Reports 2</a>
    <a >Reports 3</a>
  </div>
  <button class="dropdown-btn"><i class="fa fa-line-chart" aria-hidden="true"></i>Utilities
    <i class="fa fa-caret-down" (click)="down()"></i>
  </button>
  <div class="dropdown-container">
    <a >Item 1</a>
    <a >Item 2</a>
    <a >Item 3</a>
  </div>
</div>

<nav class="navbar navbar-expand-sm bg-light navbar-light">
  
  <span style="font-size:30px;cursor:pointer" (click)="open()">&#9776;
    <img src="../../assets/arnet.jpg" class="navbar-brand logo" alt=""> 
    Funtional Planning and Costing</span>
 
    <div class="navbar-collapse collapse">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-question-circle" aria-hidden="true"></i></a></li>
         
          <li class="nav-item dropdown">
              <a href="#" id="dd_user" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user-circle-o" aria-hidden="true"></i>khush</a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd_user">
                  <a href="#" class="dropdown-item">Profile</a>
                  <a href="login.php" class="dropdown-item">Logout</a>
              </div>
          </li>
      </ul>
  </div>
</nav>
<div class="footer">
  <p>   Arnetta Technologies Copyright  &copy;</p>
</div>


<router-outlet></router-outlet>
<div class="content p-4">
    <h2 class="mb-2">Home-Dashboard</h2>
    <div class="card mb-4">
        <div class="card-body" >
            welcome :)
            
        </div>
        
    </div>
</div>

